/* General */

h1, h2 {
	font-family: 'Poppins', sans-serif;
}

p , a {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}

.bg-negr {
	background: #111423;
}

.bg-blanc {
	background: #E5D7A6;
}

.bg-marron {
	background: #A8692C;
}

.bg-violet {
	background: #B31545;
}

.text-naranj {
	color: #F7941D;
}

.text-marron {
	color: #A8692C;
}

.text-blanc {
	color: #E5D7A6;
}

.text-negr {
	color: #111423;
}

.text-font-calibri {
	font-family: Calibri;
}

.error {
	color: #F7941D;
	display: none;
}

/* Nav*/

.navbar .navbar-collapse .nav-item a {
	font-family: 'Poppins', sans-serif;
	color: #A8692C;
}


.navbar .navbar-collapse .nav-item a:active , .navbar .navbar-collapse .nav-item a:visited .navbar, .navbar-collapse .nav-item a:focus {
	color: #A8692C;
}

.navbar .navbar-collapse .nav-item a:hover {
	color: #EE4037;
}

/* FAQ */

.btn-faq {
	background: #A8692C;
	color: #E5D7A6;
	border: none;
}

.text-faq {
	background: #FFF;
	color: #111423;
	display: none;
}

.text-faq p , .cursos p {
	font-family: Calibri;
}

/* Formulario */

.formulario input[type="text"] , .formulario input[type="email"] {
	width: 100%;
	outline: none;
	border: none;
	background: rgb(255,254,230);
	color: rgb(67,57,66);
	border-radius: 15px;
}

.formulario textarea {
	width: 100%;
	max-height: 100px;
	min-height: 100px;
	background: rgb(255,254,230);
	outline: none;
	border: none;
	color: rgb(67,57,66);
	border-radius: 15px;
}

.formulario input[type="submit"] {
	text-decoration: none;
	color: #E5D7A6;
	border: none;
	transition: all .4s ease;
	background: #A8692C;
	width: 100px;
}

.formulario input[type="submit"]:hover {
	color: rgb(255,254,230);
}

/* Footer */

.footer a {
	color: #F7941D;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
}

.footer a:hover {
	text-decoration: none;
	color: #E5D7A6;
}